@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Gilory font */
  /* @font-face {
    font-family: "Gilory";
    src: url("../fonts/Gilory/Gilory-ExtraBold.otf");
    font-weight: 800;
    font-display: swap;
  }
  @font-face {
    font-family: "Gilory";
    src: url("../fonts/Gilory/Gilory-Light.otf");
    font-weight: 300;
    font-display: swap;
  } */

  body {
    @apply bg-primary
  }
}

@layer components {
  .animate-pendulum {
    animation: pendulum 10s linear infinite;
  }

  .animate-anti-pendulum {
    animation: anti-pendulum 10s linear infinite;
  }

  @keyframes pendulum {
    0%,
    100% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(90deg);
    }
  }
  @keyframes anti-pendulum {
    0%,
    100% {
      transform: rotate(90deg);
    }
    50% {
      transform: rotate(0deg);
    }
  }
}
