body {
  background-color: #123;
  color: #fff;
}

main {
  width: 304px;
  margin: 50px auto 0;
}

div.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.container h1 {
  font-size: 2rem;
}

div.board {
  display: grid;
  border: 2px solid #fff;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

div.square {
  width: 100px;
  height: 100px;
  font-size: 4rem;
  text-align: center;
  border: 2px solid #fff;
  box-sizing: border-box;
}

div.result {
  font-size: 2rem;
  padding: 10px;
  border-radius: 10px;
}

div.result.green {
  background-color: #5a5;
}

div.result.red {
  background-color: #a55;
}

div.result.blue {
  background-color: #55a;
}

div.restart {
  outline: none;
  color: #123;
  margin-top: 10px;
  padding: 5px 20px;
  font-size: 1rem;
  background-color: #fff;
  cursor: pointer;
}

@media (min-width: 768px) {
  main {
    margin: 0;
  }
}
